@import '_variables';
@import '_cv';
@import '_form';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

:root {
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  background-color: $backgroundColor;
  color: $textColor;
  margin: 0;
}

header {
  margin: 0 100px;
  font-size: 2rem;
  span {
    color: $tertiaryColor;
  }
}

main {
  display: flex;
  gap: 17%;
}

hr {
  width: 95%;
  background-color: $backgroundColor;
}
